.house-field{
    flex: 0.4;
    text-align: center;
}
.house-field .house-legend{
    text-align: center;
    color: white;
    font-size: 30px;
}
.house-field .house-legend p{
    font-size: 20px;
}

@media screen and (max-width:470px){
    .house-field img.card-img{
        max-width: 140px;
        max-height: 200px;
    }
}